<div id='rental-property-season-dialog' class='modal fade'>
  <div class='modal-inner'>
    <div class='modal-header'>
      <a class="close" data-dismiss="modal">×</a>
      <h3><%= "Edition d'une saison".html_safe %></h3>
    </div>
    <%= render(:partial => 'admin/rental_property_seasons/form') %> 
  </div>  
</div>